.comment{
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}
	.comment_replies{
		margin-left: 20px;
	}
	.comment_reply{
		color: blue;
		text-decoration: underline;
		cursor: pointer;
	}
		.comment_reply--hide{
			display: none;
		}